@import '../../sass/colors';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;

  &__button {
    box-shadow: 0px 3px 4px 0 rgba(125, 125, 125, 0.502);
    width: 4rem;
    height: 4rem;
    background-color: $white;
    border-radius: 50%;
    border: none;
    color: $black;
    outline: none;
  }
}
